#MyProjectsContainer {
  margin-top: 5px;
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

#MyProjects {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  overflow: auto;
}

#MyProjects h1 {
  font-size: 3em;
  color: rgb(240, 240, 240);
  align-self: center;
}

#Projects {
  height: 100%;
  width: 100%;
}

.picker {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.picker a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(158, 158, 158);
  background-color: transparent;
  outline: none;
  transition: all 0.4s;
  width: max-content;
  padding: 0px 10px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.right {
  text-align: right;
  align-self: flex-end;
}

.left {
  text-align: left;
  align-self: flex-start;
}

.picker h3 {
  font-size: 2.2em;
  /* color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(240, 240, 240); */
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.8s;
}

.picker a:hover {
  transform: scale(1.025);
  cursor: pointer;
  color: rgb(240, 240, 240);
  border-bottom: 2px solid rgb(240, 240, 240);
  border-top: 2px solid rgb(240, 240, 240);
}

.picker p,
.picker h3 {
  margin: 2px;

  text-align: inherit;
}

.picker p {
  font-size: 0.8em;
}

.picker a {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
}

.picker a:hover h3 {
  color: rgb(240, 240, 240);
}

@media only screen and (max-width: 1050px) {
  .picker a,
  .picker h3 {
    color: rgb(240, 240, 240);
  }
  #MyProjects h1 {
    font-size: 2rem;
  }
  .picker h3 {
    font-size: 1.3em;
  }

  .picker p {
    font-size: 0.65em;
    max-width: 300px;
    margin: 0px;
  }
}
