#MyProjectsContainer {
  margin-top: 5px;
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

#MyProjects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  max-width: 1300px;
  overflow: auto;
}

#MyProjects h1 {
  font-size: 3em;
  color: rgb(240, 240, 240);
}

#Projects {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1050px) {
  #MyProjects h1 {
    font-size: 2rem;
  }
}

.picker {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.picker a {
  text-decoration: none;
  text-align: right;
  font-size: 1.5em;
  color: rgb(158, 158, 158);
  background-color: transparent;
  border: none;
  outline: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.picker a:hover {
  transform: scale(1.05);
  cursor: pointer;
  margin-right: 30px;
  color: rgb(240, 240, 240);
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(240, 240, 240);
}

.picker p,
.picker h3 {
  margin: 2px;
}

.picker p {
  font-size: 0.7em;
  align-self: flex-end;
}

.picker h3 {
  font-size: 2.2em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(240, 240, 240);
  transition: all 0.4s;
}

.picker a {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
}

.picker a:hover h3 {
  color: rgb(240, 240, 240);
}

@media only screen and (max-width: 1050px) {
  .picker h3 {
    font-size: 1.3em;
  }

  .picker p {
    font-size: 0.65em;
    max-width: 300px;
    margin: 0px;
  }
}
