#Home {
  position: fixed;
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: calc(100vh - 70px);
}

#Home .textContainer {
  border-bottom: 2px solid rgb(240, 240, 240);
  padding-bottom: 10px;
  margin-left: 2em;
  width: 605px;
}

#Home .text {
  padding-left: 10px;
  border-left: 2px solid rgb(240, 240, 240);
}

#Home h1 {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-color: rgb(240, 240, 240);
  -webkit-text-stroke-width: 1px;
  font-size: 5rem;
  margin: 5px;
}

#Home h3 {
  color: rgb(158, 158, 158);
  font-size: 2rem;
  margin: 5px;
}

@media only screen and (max-width: 615px) {
  #Home .textContainer {
    width: 370px;
  }
  #Home h1 {
    font-size: 3rem;
  }

  #Home h3 {
    font-size: 1.5rem;
  }
}
