h1 {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke-color: rgb(240, 240, 240);
  -webkit-text-stroke-width: 1px;
  font-size: 6rem;
  margin: 5px;
  font-family: Serif, "Times New Roman";
}

h3 {
  color: rgb(158, 158, 158);
  font-size: 2rem;
  margin: 5px;
}

h3:hover {
  cursor: pointer;
}

#StartingScreenContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 3rem;
  }
}
