#SingleProjectOuterContainer {
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  z-index: 10000;
}

#Close {
  height: 65px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 100000;
}

.close {
  margin-right: 20px;
  margin-top: 20px;
}

#SingleProjectContainer {
  top: 0;
  padding: 10px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
}

#SingleProjectContainer h1 {
  text-align: center;
}

#SingleProjectContainer #SingleProject {
  margin-top: auto;
  margin-bottom: auto;
}

#SingleProject {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  overflow: auto;
}

#SingleProjectContainer h1 {
  font-size: 3em;
  margin: 10px;
  color: rgb(240, 240, 240);
}

.slideshow {
  width: 90%;
  max-width: 750px;
  height: auto;
}

.slideshow .carousel-slider {
  height: 100%;
}

.slideshow .carousel-slider img {
  align-self: center;
  justify-self: center;
  max-height: 350px;
  width: auto !important;
  max-width: 100%;
}

.slide {
  display: flex;
}

.slide div {
  margin-top: auto;
  margin-bottom: auto;
}

.slideshow .thumbs-wrapper .thumb {
  margin: 0px 10px;
  height: 100%;
  width: auto !important;
}

.slideshow .thumbs-wrapper img {
  height: auto;
  max-height: 80px;
  width: auto !important;
  max-width: 100%;
}

.projectInfo {
  margin-bottom: 15px;
  padding: 10px;
  width: 90%;
  max-width: 750px;
  border-radius: 10px;
}

.projectInfo p {
  font-size: 1.4em;
  color: rgb(240, 240, 240);
  font-family: "Merriweather", serif;
  font-weight: 100;
  line-height: 1.5;
}

.links {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.links a {
  flex-wrap: wrap;
  margin: 10px 10px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 10px;
  transition: all 0.2s;
}

.links a:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

@media only screen and (max-width: 1050px) {
  #SingleProjectContainer h1 {
    font-size: 2rem;
  }

  .projectInfo p {
    font-size: 0.9rem;
  }
}
