#AboutMeContainer {
  padding: 10px 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: fixed;
}

#AboutMeContainer * {
  margin-top: auto;
  margin-bottom: auto;
}

#AboutMe {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}

#AboutMe .me {
  justify-self: center;
  margin: 10px auto 20px auto;
}

#AboutMe .me img {
  width: 175px;
  background-color: black;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 100px;
}

.technologies {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
}

.technologies img {
  width: 80px;
  margin: 10px 10px;
  height: auto;
}

#AboutMe h1 {
  font-size: 3em;
  color: rgb(240, 240, 240);
  align-self: center;
}

#AboutMe p {
  font-size: 1.5em;
  color: rgb(199, 199, 199);
  font-family: "Merriweather", serif;
  font-weight: 100;
  line-height: 1.5;
}

@media only screen and (max-width: 1050px) {
  #AboutMe h1 {
    font-size: 2rem;
  }

  #AboutMe p {
    font-size: 0.9rem;
  }
}

.technologyBackground {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px;
  border-radius: 5px;
}

#AboutMe hr {
  width: 100%;
  margin: 25px 0px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(117, 117, 117, 0),
    rgba(117, 117, 117, 0.75),
    rgba(117, 117, 117, 0)
  );
}
