#AboutMeContainer {
  padding: 10px 0px;
  height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: fixed;
}

#AboutMeContainer * {
  margin-top: auto;
  margin-bottom: auto;
}

#AboutMe {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}

#AboutMe .me {
  justify-self: center;
  margin: 10px auto;
}

#AboutMe .me img {
  width: 200px;
  background-color: black;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 100px;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.technologies img {
  width: 80px;
  margin: 10px 10px;
  height: auto;
}

#AboutMe h1 {
  font-size: 3em;
  color: rgb(240, 240, 240);
}

#AboutMe p {
  margin-left: 15px;
  font-size: 1.2em;
  color: rgb(158, 158, 158);
}

@media only screen and (max-width: 1050px) {
  #AboutMe .me {
    width: 100px;
  }

  #AboutMe h1 {
    font-size: 2rem;
  }

  #AboutMe p {
    font-size: 0.9rem;
  }
}

#AboutMe hr {
  width: 100%;
  margin: 20px 0px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(117, 117, 117, 0),
    rgba(117, 117, 117, 0.75),
    rgba(117, 117, 117, 0)
  );
}
